.page-main__slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 390px;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: @tablet-width) {
    height: 520px;
  }
}

.page-main__cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: @tablet-width) {
    height: 300px;
  }
}

.page-main__video-wrap {

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 200px;
  }
}

.page-main__video {
  width: 100%;

  @media (min-width: @tablet-width) {
  }
}
