.photo {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__item {
  padding: 20px 0;
  border-bottom: 1px solid @dark-grey;
}

.photo__cover {
  padding: 0 0 20px;
}

.photo__title {
  margin: 0;
  padding: 0 0 20px;
}

.photo__author {
  display: block;
  padding: 0 0 20px;
}
